name: Tests

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "20 4 * * 2" # once a week

env:
  FORCE_COLOR: "1"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests:
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        pyv: ["3.11"]

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python ${{ matrix.pyv }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.pyv }}

      - name: Upgrade pip and nox
        run: |
          python -m pip install --upgrade pip nox
          pip --version
          nox --version

      - name: Lint code and check dependencies
        run: nox -s lint-${{ matrix.pyv }}

      - name: Run safety session
        run: |
          nox -s safety-${{ matrix.pyv }} || echo ::warning title=Safety session failed::Vulnerabilities are present. Please check logs.

      - name: Run tests
        run: nox -s tests-${{ matrix.pyv }}

      - name: Upload coverage report
        uses: codecov/codecov-action@v4

      - name: Build package
        run: nox -s build-${{ matrix.pyv }}
